@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-extra-large {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .heading-large {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
  .heading-medium {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
  }
  .heading-small {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
  }
  .body-large {
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
  }
  .body-medium {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
}